<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interview Tracker</title>
    <link rel="stylesheet" href="css/Grid.css" />
    <link rel="stylesheet" href="css/styles_contact.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <%- include("./partials/navCSS.ejs") %>
    <%- include("./partials/footerCSS-2.ejs") %>
  </head>

  <body>
    <!-- Nav Bar -->
    <%- include("./partials/nav.ejs") %>

    <!-- Header -->
    <section class="hero">
      
    </section>

    <!-- Names -->
    <section class="names">
      <div class="row block">
        <div class="name">RKS Mehul</div><div class="value">m.r.k.s@iitg.ac.in</div>
      </div>
    </section>

    <%- include("./partials/footer.ejs") %>

  </body>
  <%- include("./partials/ion-icons-script.ejs") %>
</html>
