<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interview Tracker</title>
    <link rel="stylesheet" href="css/Grid.css" />
    <link rel="stylesheet" href="css/styles_404.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <%- include("./partials/navCSS.ejs") %>
    <%- include("./partials/footerCSS.ejs") %>
  </head>

  <body>
    <!-- Nav Bar -->
    <%- include("./partials/nav.ejs") %>


    <!-- 404 -->
    <section>
      <h2>Access Denied</h2>
      <h3>Oops, It seems you are not an Admin</h3>
    </section>

    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>

  </body>

  

  <!--****************JavaScript*******************-->

  <%- include("./partials/ion-icons-script.ejs") %>
</html>
